* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1070FF;
    --text-color: #717172;
}

body::-webkit-scrollbar {
    display: none;
}

h1.head-1 {
    font-style: 60px;
}

h2.head-2 {
    font-style: 50px;
}

.nav-link.link {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.nav-link.signUp {
    color: white;
    background-color: var(--primary-color);
    width: 135px;
    border-radius: 4px;
    padding: 12px 32px;
    text-align: center;
}

.bg-footer {
    background-color: var(--primary-color);
}

#hero, #about-us, #forgotPassword {
    background: url('./assets/images/hero-bg.png');
    background-size: cover;
}

#call-to-action {
    background: url('./assets/images/cta-bg.png');
    background-size: cover;
    margin-bottom: -50px;
}

#login, #signup {
    background: url('./assets/images/login_signUp-bg.png');
    background-size: cover;
}

.howItWorksData1 {
    padding: 4em;
    background-color: #E7F0FFCC;
}

.bg-white.cardSize {
    max-width: 253px;
}

.col-md-6.featuresHero-text1 {
    width: 465px
}

.col-md-6.featuresHero-text2 {
    width: 500px
}

.col-bg {
    width: 50vw;
    height: 100vh;
    background: url('./assets/images/login_signUp-img.png');
    background-size: cover;
}

.position-md-absolute {
    position: absolute;
    top: 0;
    width: 50%;
}

@media (max-width: 768px) {
    h1.head-1 {
        font-size: calc(1.375rem + 4vw);
        line-height: 55px;
    }

    h2.head-2 {
        font-size: calc(1.325rem + 2.5vw)
    }

    h4.head-4 {
        font-size: 17px
    }

    .howItWorksData1 {
        padding: 3em;
    }

    .bg-white.cardSize {
        max-width: 100%;
    }

    .col-md-6.featuresHero-text1, .col-md-6.featuresHero-text2 {
        width: auto;
    }

    #login, #signup {
        height: 100vh;
    }

    .position-md-absolute {
        position: relative;
        width: 100%;
        top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .bg-white.cardSize {
        max-width: 22%;
    }

    .col-md-6.featuresHero-text1, .col-md-6.featuresHero-text2 {
        width: auto;
    }

}
